@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
  box-sizing: border-box;
}
@font-face {
  font-family: boris; /* Font family name */
  src:
    url('/public/fonts/Boris.otf') format('opentype'),
    /* OTF format */ url('/public/fonts/Boris.ttf') format('truetype'),
    /* TTF format */ url('/public/fonts/Boris.woff') format('woff'); /* WOFF format */
}
body {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #24181B;
  background-color: #f5f3ef;
}

.daterange input {
  background-color: transparent;
}
.daterange button {
  display: none !important;
}
.opportunities-swiper .swiper-slide {
  width: auto !important;
}
.opportunities-swiper .swiper-button-next::after {
  display: none;
}
.opportunities-swiper .swiper-button-next {
  z-index: 1;
}
.opportunities-swiper .swiper-button-next::before {
  content: '';
  background: linear-gradient(270deg, #f5f3ef 0%, rgba(245, 243, 239, 0) 100%);
  width: 97px;
  height: 50px;
  position: absolute;
  left: -69px;
  z-index: -1;
}
.swiper-btns .swiper-button-disabled {
  background-color: #1e1e1e0d;
  opacity: 1 !important;
  img {
    filter: brightness(0);
    opacity: 0.3;
  }
}
.max-h-modal {
  height: calc(100vh - 230px);
}
.max-h-modal-new
{
  height: calc(100vh - 119px);

}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.file-upload label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination {
  position: relative !important;
  display: inline-flex;
  width: auto !important;
  margin: auto !important;
  gap: 7px;
}
.organization-section .swiper-controls {
  position: relative;
  padding: 8px 12px;
  border-radius: 500px;
  margin-top: 20px;
  background: #fff;
  height: 24px;
  transition: all 0.3s ease-in-out 0s;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 !important;
}
.organization-section .swiper-button-prev:after,
.organization-section .swiper-button-next:after {
  color: #24181b;
  font-size: 12px !important;
  font-weight: 700;
  padding: 0;
}
.organization-section .swiper-button-next {
  padding: 0;
  height: auto;
  right: 4px;
  margin: 0;
  width: auto;
  top: 4px;
}
.organization-section .swiper-button-prev {
  padding: 0;
  left: 4px;
  margin: 0;
  width: auto;
  top: 4px;
}
.organization-section .swiper-controls:hover {
  padding: 8px 33px;
  height: 32px;
}
.organization-section .swiper-button-prev::after,
.organization-section .swiper-button-next::after {
  display: none;
}
.organization-section .swiper-button-prev img {
  transform: rotate(-180deg);
}
.organization-section .swiper-button-prev,
.organization-section .swiper-button-next {
  transition: all 0.3s ease-in-out 0s;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: none;
}
.organization-section .swiper-button-prev:hover,
.organization-section .swiper-button-next:hover {
  background: #f5f3ef;
}
.organization-section .swiper-controls:hover .swiper-button-prev,
.organization-section .swiper-controls:hover .swiper-button-next {
  display: flex;
}
.organization-section .swiper-pagination {
  top: inherit !important;
  bottom: inherit !important;
}
.swiper-pagination-bullet-active {
  background: #24181b !important;
}
.organization-section .swiper {
  text-align: center;
}
.organization-section .swiper-slide {
  text-align: left;
}

.spinner-overlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 60%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-right-color: #e40054;
  animation: spinner-a4dj62 1s infinite linear;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 11.6px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

.react-datepicker-popper {
  z-index: 12 !important;
  line-height: 0;
}
[data-floating-ui-portal] {
  z-index: 99;
  position: relative;
}

.card-shadow:hover {
  box-shadow: 0px 8px 20px 0px #24181b0d;
}

.react-datepicker-wrapper {
  width: 100%;
}
.basic-multi-select .select__control {
  background: #f5f3ef;
  border: none;
  margin-top: 5px;
  border-radius: 8px;
}

.basic-multi-select .select__multi-value {
  background: #e600540d;
  border-radius: 8px;
  overflow: hidden;
}
.basic-multi-select .select__multi-value__label {
  color: #e60054;
  padding-left: 10px;
  font-weight: 500;
}
.basic-multi-select .select__multi-value__remove {
  background-color: transparent !important;
  color: #e60054;
  opacity: 0.6;
}
.basic-multi-select .select__multi-value__remove:hover {
  opacity: 1;
}
.basic-multi-select .select__clear-indicator {
  display: none;
}
.select__menu
{
  left: 0;
}
.select__option--is-focused 
{
  color: #e60054 !important;
  background-color: rgba(230, 0, 84, 0.0509803922) !important;
}
.select__option--is-selected
{
  color: #e60054 !important;
  background-color: rgba(230, 0, 84, 0.0509803922) !important;
}
.datePicker input 
{
  background-color: #EDEBE3 !important;
  border: 1px solid #E6E3D6 !important ;
  height: 60px !important;
  border-radius: 16px !important;
  outline: none !important;
}
.organization-member .member-heading 
{
  display: none;
}
.organization-member .member-box
{
  padding: 0;
}
.organization-member  .invite-button 
{
  right: 0;
}

.materialDatepicker input
{
  background: #edebe3;
  border: 1px solid #e6e3d6;
  height: 60px;
  border-radius: 16px;
  box-shadow: none !important;
  color: #24181B;
  outline: none;
  font-size: 16px;

  &::-ms-input-placeholder { /* Edge 12-18 */
  color: #24181B80;
  font-size: 16px;

  }

  &::placeholder {
    color: #24181B80;
    font-size: 16px;
  }
}
.materialDatepicker input:focus 
{
  border-color: #e60054;
}
.materialDatepicker
{
  z-index: 99;
}
/* Hide the arrows for number input */
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinners {
  -moz-appearance: textfield;
}

@media screen and (max-width: 1420px)
{
  .search-bar
  {
    max-width: 450px;
  }
}

@media screen and (max-width: 1200px)
{
  .search-bar
  {
    position: relative;
    max-width: 310px;
  }
}
@media screen and (max-width: 1023px)
{
  .search-bar {
      max-width: 230px;
  }
}
@media screen and (min-width: 767px)
{
  .profile-dropdown
  {
    bottom: inherit !important;
  }
}
@media screen and (max-width: 767px)
{
  .search-bar {
      max-width: 100%;
  }
  .tab-close
  {
    position: fixed;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out 0s;
    z-index: 10;
    height: 100vh;
    top: 0;
    overflow: auto;
    overflow-x: hidden;
    background-color: #F5F3EF;
  }
  .show-tab
  {
    transform: translateX(0);
  }
  .delete-modal-open .show-tab
  {
    transform: inherit;
    position: relative;
  }
  .mobile-overflow
  {
    overflow: hidden !important;
  }
  .fit-screen {
      height: calc(100vh - 90px);
      flex-direction: column;
      justify-content: center;
      width: 100%;
      display: inline-flex;
      align-items: center;
      gap: 24px;
  }
  .tab-open 
  {
    overflow: hidden;
  }

  .max-h-modal ,.submit-events {
      height: calc(100vh - 180px);
  }
  .max-h-modal-new
  {
    height: calc(100vh - 68px);

  }
  .delete-modal-open .show-tab 
  {
    overflow: hidden;
  }
  .desktop-submit .mobile-btn
  {
    display: none;
  }
}