@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

* {
  box-sizing: border-box;
}
@font-face {
  font-family: boris; /* Font family name */
  src:
    url('/public/fonts/Boris.otf') format('opentype'),
    /* OTF format */ url('/public/fonts/Boris.ttf') format('truetype'),
    /* TTF format */ url('/public/fonts/Boris.woff') format('woff'); /* WOFF format */
}
body {
  font-family: 'Rethink Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1e1e1e;
  background-color: #f5f3ef;
}

.daterange input {
  background-color: transparent;
}
.daterange button {
  display: none !important;
}
.opportunities-swiper .swiper-slide {
  width: auto !important;
}
.opportunities-swiper .swiper-button-next::after {
  display: none;
}
.opportunities-swiper .swiper-button-next {
  z-index: 1;
}
.opportunities-swiper .swiper-button-next::before {
  content: '';
  background: linear-gradient(270deg, #f5f3ef 0%, rgba(245, 243, 239, 0) 100%);
  width: 97px;
  height: 50px;
  position: absolute;
  left: -69px;
  z-index: -1;
}
.swiper-btns .swiper-button-disabled {
  background-color: #1e1e1e0d;
  opacity: 1 !important;
  img {
    filter: brightness(0);
    opacity: 0.3;
  }
}
.max-h-modal {
  max-height: calc(100vh - 230px);
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.file-upload label {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination {
  position: relative !important;
  padding: 8px 12px 8px 12px;
  display: inline-flex;
  width: auto !important;
  margin: auto !important;
  border-radius: 500px;
  background: #fff;
  gap: 7px;
  margin-top: 30px !important;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 !important;
}
.swiper-pagination-bullet-active {
  background: #24181b !important;
}
.organization-section .swiper {
  text-align: center;
}
.organization-section .swiper-slide {
  text-align: left;
}

.spinner-overlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 60%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
}

.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-right-color: #e40054;
  animation: spinner-a4dj62 1s infinite linear;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.spinner::before,
.spinner::after {
  content: '';
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 11.6px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

